.dashboard-layout {
  display: flex;
  flex-direction: column;
}

.welcome {
  margin-left: 20px;
}

.user-info-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;

}
.card{
  background-color: red;
  width: 380px;
  height: 350px;
}

.card header {
  display: flex;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 40px;
}

.card li {
  font-size:20px;
}


.level-chart-cards {
  margin-top:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-progress {
  width: 550px;
  height:200px;
  background-color:yellow;
  display: flex;
  align-items: center;
}

.user{
  width: 25%;
  background: aqua;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon{
  font-size:75px;
}
.user p {
  font-size:30px;
  margin: 10px;
}

.experience-bar {
  margin-left: 30px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  width: 65%;
}

.pie-chart {
  background-color:rgb(107, 177, 74);
  width:450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pie-chart p {
  font-size:20px;
  margin: 0;
}

.chart {
  font-size:150px;
}