.dashboard-layout {
  display: flex;
  flex-direction: column;
}

.welcome {
  margin-left: 20px;
}

.user-info-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.card{
  width: 31%;
  height: 350px;
  background: url('./img/border-image-golden2.png') no-repeat;
  background-size: 100% 100%;
  /* overflow: vertical; */
}

.card header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 30px;
  color:rgb(252, 252, 252);
  text-shadow: -1px -1px 0 rgb(38, 38, 38), 2px -1px 0 rgb(38, 38, 38), -1px 2px 0 #000, 2px 2px 0 rgb(38, 38, 38);

}

.card ul {
  margin-top: 20px;
}

.card li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  color:rgb(252, 252, 252);
  text-shadow: -1px -1px 0 rgb(38, 38, 38), 2px -1px 0 rgb(38, 38, 38), -1px 2px 0 #000, 2px 2px 0 rgb(38, 38, 38);
}


.level-chart-cards {
  margin-top:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-progress {
  width: 550px;
  height:200px;
  background-color:yellow;
  display: flex;
  align-items: center;
}

.user{
  width: 25%;
  background: aqua;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon{
  font-size:75px;
}
.user p {
  font-size:20px;
  margin: 10px;
}

.experience-bar {
  margin-left: 30px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  width: 65%;
}

.pie-chart {
  background-color:rgb(107, 177, 74);
  width:450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pie-chart p {
  font-size:20px;
  margin: 0;
}

.chart {
  font-size:150px;
}