/* Style the sidebar - fixed full height */
.sidebar {
  /* height: 100%; */
  position: fixed;
  z-index: 1;
  background-color: #fb6262;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-top {
  width: inherit;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: flex-end;
}

/* Style sidebar links */
.sidebar-top a {
  text-decoration: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.sidebar-bottom a {
  text-decoration: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.sidebar-top li {
  list-style-type: none;
}

.sidebar-bottom li {
  list-style-type: none;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 170px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */
