.kanban-layout {
  display: flex;
  justify-content: space-evenly;
}

.kanban-card {
  height:600px;
  width: 300px;
  overflow:auto;
  background:white
}

#kanban-card-id {
  margin:0;
  padding:0;
}

#late {
  background-color: red;
}

.kanban-card header {
  padding: 10px;
  display: flex;
  justify-content: center;
  color: black;
}

.task-item-container{
  background: aqua;
  margin: 15px;
  height: 140px;
  border-radius:15px;
  padding:0
}

.task-item-container li {
  list-style: none;
  margin: 0;
}

.task-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:5px;
}

.task-item-header h1{
margin: 0;
}

.task-item-container p{
  margin:0;
  height:70px
}

.priority-icon {
  font-size: 30px;
  display: flex;
}

.task-users {
  display: flex;
  margin-right: 10px;
  justify-content:flex-end;
  font-size:20px
}

.task-users img {
  margin-left: 10px;
  border-radius: 25px;
}