.gantt-container {
  width: 100%;
  height: 600px;
  border-radius: 25px;
  font-family: 'Press Start 2P', cursive !important;
}

.gantt-container svg{
  border-radius: 25px;
  -moz-box-shadow: 0 0 20px rgb(0, 0, 0);
-webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
box-shadow: 0 0 15px rgb(0, 0, 0);
border: 5px solid rgb(0, 0, 0);
}

text {
  font-family: 'Press Start 2P', cursive !important;
}