.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color:rgb(26, 24, 24);
  color: white;
  border: 1px solid #ddd;

}
.table thead {
  font-size: 18px;
  border: 1px solid #ddd;
}

.table tbody {
  font-size: 15px;
  border: 1px solid #ddd;
}

.table th {
  border: 1px solid white;
}

.table td {
  border: 1px solid white;
}
.task-user-container {
  display: flex;
  justify-content: space-around;
}

.task-user-container li {
  display: flex;
  list-style: none;
  margin: 0;
}

.task-user-list img {
  height: 30px;
  width: 30px;
}
.icon {
  font-size: 30px;
}

.priority {
  display: flex;
  justify-content: center;
}
