.dashboard-layout {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.welcome {
  margin-left: 20px;
  font-size: 2rem;
  letter-spacing: 3px;
}

.user-info-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  max-width: 1920px;
}
.card{
  width: 31%;
  height: 350px;
}

.card header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 30px;
  color:rgb(252, 252, 252);
  text-shadow: -1px -1px 0 rgb(38, 38, 38), 2px -1px 0 rgb(38, 38, 38), -1px 2px 0 #000, 2px 2px 0 rgb(38, 38, 38);

}

.card ul {
  margin-top: 20px;
}

.card li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  color:rgb(252, 252, 252);
  text-shadow: -1px -1px 0 rgb(38, 38, 38), 2px -1px 0 rgb(38, 38, 38), -1px 2px 0 #000, 2px 2px 0 rgb(38, 38, 38);
}


.level-chart-cards {
  margin-top:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  align-self: center;
  max-width: 1920px;
}

.user-progress {
  width: 650px;
  background-color:yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
  /* padding: 10px; */
}

.user{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right:20px;
}

.user-icon{
  font-size:75px;
}

.user-info {
  display:flex;
  flex-direction:column;
  width: 100%;
  margin-right: 10px;
}

.user-info-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size:20px;
}

.experience-bar {
  margin-left: 30px;
  display: flex;
  align-self: flex-end;
  border: 1px solid black;
  height: 50px;
  width: 65%;
}

.pie-chart {
  background-color:rgb(107, 177, 74);
  width:450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  height: 100%;
}

.pie-chart p {
  font-size:30px;
  margin: 0;
}

.chart {
  font-size:150px;
}