.project-card {
  width: 29%;
  height: 400px;
  margin: 0 20px 50px 20px;
  overflow:auto;
}

.project-card header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:rgb(252, 252, 252);
  text-shadow: -1px -1px 0 rgb(38, 38, 38), 2px -1px 0 rgb(38, 38, 38), -1px 2px 0 #000, 2px 2px 0 rgb(38, 38, 38);
}


.project-card p {
  margin-top: 20px;
  font-size: 15px;
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
  width: 90%;
  color:rgb(252, 252, 252);
  text-shadow: -1px -1px 0 rgb(38, 38, 38), 2px -1px 0 rgb(38, 38, 38), -1px 2px 0 #000, 2px 2px 0 rgb(38, 38, 38);
}
.new-project {
  display: flex;
  justify-content: center;
}
.cancel-submit {
  display:flex;
  justify-content: space-around;
}